set tabstop=4
set shiftwidth=4
set smarttab
set expandtab
set softtabstop=4
set autoindent
autocmd BufRead *.py set smartindent cinwords=if,elif,else,for,while,try,except,finally,def,class
autocmd BufWritePre *.py normal m`:%s/\s\+$//e ``
map <F2> :NERDTreeToggle<CR>
"when pasting external text, deactivate smarttab (so it doesn't look like crap when pasted)
set pastetoggle=<F3>
"autocmd FileType python set omnifunc=pysmell#Complete
autocmd FileType python set omnifunc=pythoncomplete#Complete
"use omnicompletion with ctrl+space instead of ctrl+x + crtl+o
inoremap <Nul> <C-x><C-o>
