set nocompatible
"somehow, upgrading to vim73 screwed the syntax highlighting
syntax on
filetype on
filetype indent on
"filetype plugin indent on
"filetype plugin on "this delays the loading of ruby files a little 
set tabstop=4
set shiftwidth=4
set smarttab
set expandtab
set softtabstop=4
set autoindent
autocmd BufRead *.py set smartindent cinwords=if,elif,else,for,while,try,except,finally,def,class
autocmd BufWritePre *.py normal m`:%s/\s\+$//e `
map <F2> :NERDTreeToggle<CR>
set pastetoggle=<F3>
"autocmd FileType python set omnifunc=pysmell#Complete
autocmd FileType python set omnifunc=pythoncomplete#Complete
autocmd FileType ruby set omnifunc=rubycomplete#Complete
autocmd FileType java set omnifunc=javacomplete#Complete

inoremap <Nul> <C-x><C-o>
"when upgrading to vim73, the backspace died
"here's a solution: http://vim.wikia.com/wiki/Backspace_and_delete_problems
func Backspace()
  if col('.') == 1
    if line('.')  != 1
      return  "\<ESC>kA\<Del>"
    else
      return ""
    endif
  else
    return "\<Left>\<Del>"
  endif
endfunc
inoremap <BS> <c-r>=Backspace()<CR>
"to enable ruby omnicompletion (cf.  :help ft-ruby-omni)
autocmd FileType ruby let g:rubycomplete_buffer_loading = 1
autocmd FileType ruby let g:rubycomplete_classes_in_global = 1
autocmd FileType ruby let g:rubycomplete_rails = 1
autocmd BufNewFile,BufRead *.md setf markdown

"for clojure

"this next one is an alternative to slime:
"let vimclojure#WantNailgun = 1
"moar settings (from http://writequit.org/blog/?p=386)
let vimclojure#HighlightBuiltins = 1 
let vimclojure#ParenRainbow = 1 
"to stop creating *~ (backup) and *.swp (swap) files
set noswapfile
set nowritebackup
set nobackup

"for snipmate:
autocmd FileType python set ft=python.django " For SnipMate
autocmd FileType html set ft=htmldjango.html " For SnipMate

